/CL/bin
/CL/obj
/UnRar/bin
/UnRar/obj
/.vs
/GuangGao/bin
/GuangGao/obj
/CCLL/bin
/CL_wpf/bin
/CL_wpf/obj
/CCLL/obj
/SearchImage/SearchImage/bin/Debug/url.jpg
/SearchImage/SearchImage/bin/Debug/url2.jpg
/SearchImage/SearchImage/obj
/SearchImage/SearchImage/bin/Debug
